<div class='container'>
	<footer class="footer">
		Copyright &copy; AWSME Blog By Mrinal Deep Manna 
		<ul>
			<li><%= link_to "About",welcome_about_path,class: "link" %></li>
		</ul>
	</footer>
</div>
 